* {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
}

body {
  background-color: rgb(255, 200, 33);
}
div {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

input {
  border: 0px;
  border-radius: 25px;
  padding: 15px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

input:hover {
  background-color: rgb(255, 200, 33);
}

label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 40%;
  border-radius: 25px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}
th {
  padding: 4px;
}
td {
  padding: 2px;
}
